.infinite-container {
  overflow-x: hidden;
  min-width: 900px;
}
.infinite-left {
  width: 200%;
  position: relative;
  display: flex;
  justify-content: space-around;
  animation: infiniteScroll 30s infinite linear;

  > div,
  > a {
    text-align: center;
    width: 100px;
    height: 100px;
    transition: transform $transition-time-unit;
    @include for-size(lg) {
      width: 120px;
      height: 120px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
.infinite-right {
  @extend .infinite-left;
  animation: infiniteScroll 30s infinite linear reverse;
}

@keyframes infiniteScroll {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
