/** DISPLAY **************************************************************************************/
@include make-classes("d-block") {
  display: block;
}
@include make-classes("d-inline") {
  display: inline;
}
@include make-classes("d-inline-block") {
  display: inline-block;
}
@include make-classes("d-none") {
  display: none;
}
@include make-classes("d-flex") {
  display: flex;
}

/** FLEX *****************************************************************************************/
/* Y axis alignment */
@include make-classes("align-baseline") {
  align-items: baseline;
}
@include make-classes("align-center") {
  align-items: center;
}
@include make-classes("align-end") {
  align-items: flex-end;
}
@include make-classes("align-start") {
  align-items: flex-start;
}

/* X axis alignment */
@include make-classes("justify-center") {
  justify-content: center;
}
@include make-classes("justify-end") {
  justify-content: flex-end;
}
@include make-classes("justify-start") {
  justify-content: flex-start;
}
@include make-classes("justify-around") {
  justify-content: space-around;
}
@include make-classes("justify-between") {
  justify-content: space-between;
}
@include make-classes("justify-evenly") {
  justify-content: space-evenly;
}

/* Direction */
@include make-classes("flex-column") {
  flex-direction: column;
}
@include make-classes("flex-column-reverse") {
  flex-direction: column-reverse;
}
@include make-classes("flex-row") {
  flex-direction: row;
}
@include make-classes("flex-row-reverse") {
  flex-direction: row-reverse;
}

/* Row */
@include make-classes("row") {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

/* Col system */
@mixin make-col-list() {
  @for $i from 1 to 12 {
    .col-#{$i} {
      min-width: calc($i * 8.33%);
      width: calc($i * 8.33%);
    }
  }
  @each $point in $points {
    @include for-size($point) {
      @for $i from 1 to 12 {
        .col-#{$i}-#{$point} {
          min-width: calc($i * 8.33%);
          width: calc($i * 8.33%);
        }
      }
    }
  }
}
@include make-col-list();
