/* Flex container */
.flex-container {
	display: flex;
}

/* Y axis alignment */
.align-baseline {
	align-items: baseline;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.align-start {
	align-items: flex-start;
}

/* X axis alignment */
.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-start {
	justify-content: flex-start;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.justify-evenly {
	justify-content: space-evenly;
}

/* Direction */
.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

/* Row */
.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}

/* Col system */
.col-1 {
	min-width: 8.3%;
	width: 8.3%;
}

.col-2 {
	min-width: 16.6%;
	width: 16.6%;
}

.col-3 {
	min-width: 24.9%;
	width: 24.9%;
}

.col-4 {
	min-width: 33.3%;
	width: 33.3%;
}

.col-5 {
	min-width: 41.6%;
	width: 41.6%;
}

.col-6 {
	min-width: 49.9%;
	width: 49.9%;
}

.col-7 {
	min-width: 58.3%;
	width: 58.3%;
}

.col-8 {
	min-width: 66.6%;
	width: 66.6%;
}

.col-9 {
	min-width: 74.9%;
	width: 74.9%;
}

.col-10 {
	min-width: 83.3%;
	width: 83.3%;
}

.col-11 {
	min-width: 91.6%;
	width: 91.6%;
}

@media screen and (min-width: 768px) {

	/* Col system */
	.col-1-md {
		min-width: 8.3%;
		width: 8.3%;
	}

	.col-2-md {
		min-width: 16.6%;
		width: 16.6%;
	}

	.col-3-md {
		min-width: 24.9%;
		width: 24.9%;
	}

	.col-4-md {
		min-width: 33.3%;
		width: 33.3%;
	}

	.col-5-md {
		min-width: 41.6%;
		width: 41.6%;
	}

	.col-6-md {
		min-width: 49.9%;
		width: 49.9%;
	}

	.col-7-md {
		min-width: 58.3%;
		width: 58.3%;
	}

	.col-8-md {
		min-width: 66.6%;
		width: 66.6%;
	}

	.col-9-md {
		min-width: 74.9%;
		width: 74.9%;
	}

	.col-10-md {
		min-width: 83.3%;
		width: 83.3%;
	}

	.col-11-md {
		min-width: 91.6%;
		width: 91.6%;
	}
}

@media screen and (min-width: 992px) {

	/* Col system */
	.col-1-lg {
		min-width: 8.3%;
		width: 8.3%;
	}

	.col-2-lg {
		min-width: 16.6%;
		width: 16.6%;
	}

	.col-3-lg {
		min-width: 24.9%;
		width: 24.9%;
	}

	.col-4-lg {
		min-width: 33.3%;
		width: 33.3%;
	}

	.col-5-lg {
		min-width: 41.6%;
		width: 41.6%;
	}

	.col-6-lg {
		min-width: 49.9%;
		width: 49.9%;
	}

	.col-7-lg {
		min-width: 58.3%;
		width: 58.3%;
	}

	.col-8-lg {
		min-width: 66.6%;
		width: 66.6%;
	}

	.col-9-lg {
		min-width: 74.9%;
		width: 74.9%;
	}

	.col-10-lg {
		min-width: 83.3%;
		width: 83.3%;
	}

	.col-11-lg {
		min-width: 91.6%;
		width: 91.6%;
	}
}