[data-theme="light"] {
  --background-primary-color: rgb(255, 255, 255);
  --background-secondary-color: rgb(245, 245, 245);
  --text-primary-color: rgb(64, 64, 64);
  --text-secondary-color: rgb(0, 0, 0);
  --border-color: rgb(220, 220, 220);
  --muted-color: rgb(200, 200, 200);

  --accent-main-color: #FF7E1D;
  --contrast-text-color: hwb(0 100% 0%);
  --accent-text-color: #FE6700;
  --accent-secondary-color: #FFA441;
}

[data-theme="dark"] {
  --background-primary-color: rgb(35, 35, 35);
  --background-secondary-color: rgb(25, 25, 25);
  --text-primary-color: rgb(190, 190, 190);
  --text-secondary-color: rgb(255, 255, 255);
  --border-color: rgb(60, 60, 60);
  --muted-color: rgb(90, 90, 90);

  --accent-main-color: #A373C7;
  --contrast-text-color: hwb(0 100% 0%);
  --accent-text-color: hwb(270 50% 0%);
  --accent-secondary-color: #FAF7F2;
}

* {
  box-sizing: border-box;
  font-size: 1.2rem;
}

.mainTitle {
  margin-bottom: 16px;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--accent-text-color);
}

.title {
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--contrast-text-color);
}

.subtitle {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.text-center {
  text-align: center;
}

.hover-tilt {
  cursor: pointer;
  transition: all 300ms;
}

.hover-tilt:active,
.hover-tilt:hover {
  transform: rotate(15deg) scale(120%);
}


#header {
  position: sticky;
  top: 0;
  height: 64px;
  background-color: var(--accent-main-color);
  box-shadow: 0px 1px 10px 0px var(--background-primary-color);
  color: var(--contrast-text-color);
}

#header a {
  color: var(--contrast-text-color);
  text-decoration: none;
}

/** LANDING CONTAINER  ***************************************************************************/
#landing {
  min-height: 80vh;
  background-color: var(--background-primary-color);
  text-align: center;
}

#iconList {
  height: 48px;
}

#iconList .bi {
  font-size: 32px;
  color: var(--accent-text-color);
  transition: all 300ms;
}

#iconList .bi:hover {
  color: var(--accent-secondary-color);
  font-size: 48px;
}

#bubbles {
  height: 300px;
  background-color: var(--accent-secondary-color);
  background-image: url('../img/BubblesWhite.svg');
}

/** ABOUT ME CONTAINER  **************************************************************************/
#me {
  background-color: var(--accent-secondary-color);
  min-height: 70vh;
  padding: 40px 0px;
  color: var(--contrast-text-color);
}

/** MY WORK CONTAINER  ***************************************************************************/
#myWork {
  background-color: var(--accent-main-color);
  min-height: 70vh;
  padding: 40px 0px;
  color: var(--contrast-text-color);
}

/** PORTFOLIO CONTAINER  *************************************************************************/
#portfolio .title {
  background-color: var(--accent-main-color);
  /* box-shadow: inset 0px -15px 10px -10px var(--background-primary-color); */
}

#label {
  display: inline-block;
  padding: 16px 16px 4px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color: var(--background-primary-color);
  color: var(--accent-text-color);
  /* box-shadow: 0px 0px 10px 5px var(--background-primary-color); */
}

#project-list {
  min-height: 50vh;
}

.project-title {
  margin-bottom: 8px;
  font-size: 28px;
  color: var(--accent-text-color);
}

.project-role {
  display: inline-block;
  border-radius: 24px;
  padding: 8px;
  background-color: var(--accent-main-color);
  font-weight: bold;
  color: var(--contrast-text-color);
}

/** FOOTER CONTAINER  ****************************************************************************/
#footer {
  background-color: var(--accent-text-color);
  height: 80px;
}

#footer-list li {
  margin: 0px 16px;
  font-size: 20px;
  color: var(--contrast-text-color);
}

#footer-list a {
  color: var(--contrast-text-color);
  text-decoration: none;
}

#footer-list a:hover {
  color: var(--contrast-text-color);
  text-decoration: underline wavy;
}