@mixin line($top) {
  position: absolute;
  top: $top;
  right: $spacing-unit;
  border-radius: 1px;
  width: $spacing-unit * 4;
  height: 4px;
  background-color: $darker-grey;
}
@mixin sizePosition($Zindex) {
  position: fixed;
  z-index: $Zindex;
  top: $spacing-unit;
  right: $spacing-unit * 2;
  height: $spacing-unit * 6;
  width: $spacing-unit * 6;
}

.burger-round {
  @include sizePosition(95);

  .line1 {
    @include line(13px);
    transition: top 250ms 250ms, transform 250ms;
  }
  .line2 {
    @include line(22px);
    transition: opacity 0ms 250ms;
  }
  .line3 {
    @include line(31px);
    transition: top 250ms 250ms, transform 250ms;
  }
}
@mixin lineAnimate($rotate) {
  top: 22px;
  transition: transform 250ms 250ms, top 250ms;
  transform: rotateZ($rotate);
}

.dot {
  @include sizePosition(90);
  background-color: $main-color;
  border-radius: 100%;
  transition: transform 450ms;
}

.nav-check-round {
  @include sizePosition(100);
  opacity: 0;
  margin: 0;

  &:checked ~ .dot {
    transform: scale(5000%);
    transition: transform 900ms;
  }

  &:checked ~ .navbar-collapse-round {
    opacity: 1;
    transition: opacity 500ms 400ms;
    font-size: 64px;
    // text-align: center;
    .nav-item {
      display: block;

      .hollow-button {
        font-size: 32px;
      }
    }
  }

  &:checked ~ .nav-brand {
    color: white;
    transition: color 500ms 1000ms;
    .logo {
      background-color: white;

      transition: background-color 500ms 1000ms;
    }
  }

  &:checked ~ .burger-round {
    .line1 {
      @include lineAnimate(45deg);
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      @include lineAnimate(-45deg);
    }
  }
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.navbar-collapse-round {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 95;
  opacity: 0;
  transition: opacity 250ms 10ms;
  transform: translate(-50%, -50%);
}
.nav-brand {
  position: relative;
  z-index: 100;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $main-color;
  font-style: italic;
  padding: 8px 0px;
  margin-left: 16px;

  transition: color 500ms 0ms;
  .logo {
    transition: background-color 500ms 0ms;
  }
}
.nav-item {
  display: none;
  margin-bottom: $spacing-unit * 3;
  color: $main-text-contrast;

  .nav-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

    &.active {
      color: $darker-grey;
      border-bottom: 5px solid $darker-grey;
    }
    &:hover:not(.hollow-button) {
      border-bottom: 5px solid $darker-grey;
    }
  }
}

@each $point in $points {
  $infix: $point;
  @if $point != "" {
    $infix: "-#{$point}";
  }
  @include for-size($point) {
    .navbar-expand-round#{$infix} {
      background-color: $main-color;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-check-round,
      .dot,
      .burger-round {
        display: none;
      }
      .nav-brand {
        color: white;

        .logo {
          background-color: white;
        }
      }
      .navbar-collapse-round {
        opacity: 1;
        position: static;
        transform: none;
      }
      .navbar-nav {
        display: flex;
        align-items: baseline;
      }
      .nav-item {
        display: block;
        margin-right: $spacing-unit * 2;
        margin-bottom: 0px;
        font-size: 20px;
      }
    }
  }
}
