@mixin make-spacing() {
  @for $i from 1 to 6 {
    .mb-#{$i} {
      margin-bottom: $spacing-unit * $i;
    }
    .mx-#{$i} {
      margin-left: $spacing-unit * $i;
      margin-right: $spacing-unit * $i;
    }
    .my-#{$i} {
      margin-top: $spacing-unit * $i;
      margin-bottom: $spacing-unit * $i;
    }
    .p-#{$i} {
      padding: $spacing-unit * $i;
    }
    .px-#{$i} {
      padding-left: $spacing-unit * $i;
      padding-right: $spacing-unit * $i;
    }
    .py-#{$i} {
      padding-top: $spacing-unit * $i;
      padding-bottom: $spacing-unit * $i;
    }
    .round-#{$i} {
      border-radius: $round-unit * $i;
    }
  }
}

@include make-spacing();

.bg-main {
  background-color: $main-color;
}
.bg-background {
  background-color: $background-color;
}
.bg-main-shade {
  background-color: $main-color-shade;
}
.bg-main-shade-transpa {
  background-color: $main-color-shade-transpa;
}
.bg-white {
  background-color: white;
}
.bg-light-grey {
  background-color: $light-grey;
}
.bg-darker-grey {
  background-color: $darker-grey;
}
.bg-black {
  background-color: black;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
