.responsive-pic {
  max-width: 100%;
  height: auto;
}
.polygon-top {
  height: 80px;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}
.polygon-bottom {
  height: 80px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0 100%);
}
